@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Monrope, 'Arial','sans-serif';
    background-color: hsl(220, 22%, 16%);
    font-weight: 800;
}

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/*
Colors
Primary
Light Cyan: hsl(193, 38%, 86%)
Neon Green: hsl(150, 100%, 66%)
Neutral
Grayish Blue: hsl(217, 19%, 38%)
Dark Grayish Blue: hsl(217, 19%, 24%)
Typography
Body Copy
Font size (quote): 28px
Font
Family: Manrope
Weights: 800
*/