/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;800&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', 'Arial', 'sans-serif';
    background-color: hsl(220, 22%, 16%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px auto;
    background-color: hsl(218, 20%, 24%);
    border-radius: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.box {
    max-width: 350px;
    height: 350px;
}

.heading {
    color: hsl(150, 100%, 66%);
    letter-spacing: 3px;
    text-align: center;
    padding-top: 3em;
    font-size: 0.7em;
    font-weight: 300;
}

.advice {
    color: hsl(203, 33%, 86%);
    font-size: 1.75em;
    font-weight: 800;
    padding: 0.5em;
}

.divider {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.green {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    display: inline-block;
    position: relative;
    bottom: 140px;
    margin-top: 20px;
}

.dice {
    position: relative;
    height: 30px;
    width: 30px;
    bottom: 187px;
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:768px) {
    .box {
        max-width: 450px;
    }

    .green {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: hsl(150, 100%, 66%);
        display: inline-block;
        position: relative;
        bottom: 140px;
        margin-top: 20px;
    }

    .dice {
        position: relative;
        height: 30px;
        width: 30px;
        bottom: 187px;
        cursor: pointer;
    }
}